.a1{
	float: left;
	width: 1314px;
	height: 231px;
	margin: 0 auto;
}
.a2{
	float: left;
}
.a3{
	float: left;
	width: 1314px;
	height: 32px;
	margin-top: -3px;
	background: url(../img/a20.gif) repeat-x;
}
.a31{
	float: left;
	width: 320px;
	height: 30px;
}
.a31a{
	color: red;
}
.a31 li{
	float: left;
    margin-left: 30px;
	line-height: 30px;
}
.a31 a{
	text-decoration: none;
	color:#888888;
}
.a311{
	float: left;
	margin-left: 80px;
}
.a312{
	float: left;
	margin-left: 213px;
	margin-top: -35px;
}
.a313{
	float: left;
	margin-left: 82px;
	margin-top: -33px;
}
.a314{
	float: left;
	margin-top: 0px;
}
.a32{
	float: right;
	width: 600px;
	height: 30px;
	margin-top: 0px;
}
.a32 li{
	float: left;
	line-height: 30px;
}
.a32 a{
	text-decoration: none;
	color: #888888;
	margin-left: 45px;
}
.a321{
	float: left;
	margin-left: 189px;
	margin-top: -22px;
}
.a322{
	float: left;
	margin-left: 283px;
	margin-top: -22px;
}
.a323{
	float: left;
	margin-left: 375px;
	margin-top: -22px;
}
.a324{
	float: left;
	margin-left: 468px;
	margin-top: -22px;
}
.a325{
	float: left;
	margin-left: 564px;
	margin-top: -22px;
}
.a326{
	float: left;
	margin-left: 308px;
	margin-top: -22px;
}
.a327{
	float: left;
	margin-left: 498px;
	margin-top: -22px;
}
.a4{
	float: left;
	width: 1320px;
	height: 120px;
	margin-top: -1px;
}
.a41{
	float: left;
	margin-left: 100px;
	margin-top: 40px;
}
.a5{
	float: left;
	border: 2px solid #dd00a7; 
	width: 64px;
	height: 32px;
	margin-left: 145px;
	margin-top: 32px;
}
.a5 a{
	float: left;
	width: 64px;
	height: 32px;
	color: #ada5b8;
    font-size: 14px;
	line-height: 32px;
	text-decoration: none;
    margin-left: 10px;
}
.a5 img{
	float: right;
	margin-top: -20px;
	margin-right: 10px;
}
.a6{
	float: left;
	width: 326px;
	height: 32px;
	border: 2px solid #dd00a7; 
	margin-left: -2px;
	margin-top: 32px;
}
.a6 input{
	float: left;
	width: 326px;
	height: 32px;
}
.a7{
	float: left;
	width: 90px;
	height: 32px;
	border: 2px solid #dd00a7; 
	background-color: #dd00a7;
	margin-top: 32px;
}
.a7 a{
	float: left;
	text-decoration: none;
	line-height: 32px;
	margin-left: 25px;
	font-size: 16px;
	color: white;
}
.a8{
	float: left;
	margin-left:-490px;
	margin-top: 68px;
}
.a8 li{
	float: left;
	margin-right: 10px;
}
.a8 a{
    color: #ada5b8;
    color: #333;
    text-decoration: none;
}
.a9{
	float: right;
	margin-top: 26px;
	margin-right: 58px;
}
.qq{
	float: left;
	width: 1331px;
	height: 3000px;
}
.a10{
	float: left;
	width: 1314px;
	height: 41px;
	margin-left: 0px;
	background: url(../img/a29.gif) repeat-x;
}
.a11{
	float: left;
	width: 200px;
	height: 40px;
	background: url(../img/a30.gif) repeat-x;
	margin-left: 83px;
	margin-top: -42px;
}
.a112{
	float: left;
	width: 200px;
	height: 40px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 900;
    color:#6d6d6d;
}
.a12{
	float: left;
	margin-left: 300px;
	margin-top: -43px;
}
.a12 li{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 12px;
	margin-left: 10px;
}
.a12 a{
	text-decoration: none;
	font-size: 15px;
	color: #26004d;
}
.a12 img{
	float: left;
	margin-right: 6px;
	margin-top: 13px;
}
.a13{
	float: right;
	margin-right: 60px;
	margin-top: -30px;
}
.a13 img{
	cursor: pointer;
}
.a131{
	float: right;
	margin-top: -2px;
	margin-left: -20px;
}
.a15{
	float: left;
	width: 1314px;
	height: 451px;
	margin-top: -1px;
	background: url(../img/a38.gif) repeat-x;
	
}
.a16{
	float: left;
	width: 200px;
	height: 450px;
	margin-top: 1px;
	background: url(../img/a39.gif) repeat-y;
	margin-left: 83px;
}
.a16 ul{
	margin-top: -5px;
}
.a16 li{
	margin-top: 10px;
	margin-left: 15px;
	font-size: 15px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.a17{
	float: right;
	width: 250px;
	height: 431px;
	margin-top: -450px;
	margin-right: 34px;
	background: url(../img/a40.gif);
}
.a17 li{
	color:#888888;
	font-size: 11px;
	margin-top: 15px;
	margin-left: 15px;
}
.a17 p{
	font-size: 15px;
	color:#333333;
	margin-left: 0px;
}
.a17 a{
	text-decoration: none;
	color:#5e5e5e;
}
.namea {
	width: 35px;
	height: 663px;
	position: fixed;
	top: 0;
	right: 0;
	background: url(../img/a35.gif) repeat-y;
    
}
.a17 span{
	float: right;
	margin-right: 30px;
	margin-top: -33px;
}
.a171{
	float: right;
	margin-top: -31px;
	margin-right: 18px;
}
.a172{
	float: left;
	margin-left: 12px;
	margin-top: 8px;
}
.a18{
	float: left;
	margin-left: -20px;
	margin-top: -10px;
}
.a18 li{
	float: left;
	margin-left: 56px;
}
.a181{
	margin-left: -5px;
}
.a19{
	float: left;
	margin-left:-25px;
	margin-top: -10px;
}
.a19 li{
	float: left;
	margin-left: 50px;
}
.a191{
	margin-left: -5px;
}
.a20{
	float: left;
	margin-left: -24px;
	margin-top: -1px;
}
.a20 li{
	float: left;
	margin-left: 55px;
}
.a201{
	margin-left: -4px;
}
.a202{
	margin-left: -4px;
}
.a21{
	float: left;
	margin-left:-15px;
	margin-top: -10px;
}
.a21 li{
	float: left;
	margin-left: 50px;
}
.a211{
	margin-left: 5px;
}
.a212{
	margin-left: -2px;
}
.a22{
	float: left;
	width: 250px;
	height: 120px;
	margin-top: 19px;
	background: url(../img/a51.gif) repeat-y;
}
.a221{
	font-size: 14px;
	color: white;
}
.a222{
	float: left;
	margin-top: -20px;
	margin-left: 0px;
}
.a222 p{
	color: white;
	font-size: 12px;
}
.a223{
	float: right;
	margin-top: -30px;
	margin-right: 20px;
}
.a224{
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}
.a23{
	float: left;
}
.a241{
	float: left;
	margin-top: 32px;
	margin-left: 60px;
}
.a242{
	float: left;
	margin-top: 32px;
	margin-left: 255px;
}
.a243{
	float: left;
	margin-top: 32px;
    margin-left: 270px;
}
.a24{
	float: left;
	width: 1331px;
    height: 65px;
}
.a25{
	float: left;
	width: 420px;
	height: 421px;
	border: 1px solid #e6e6e6;
	margin-left: 60px;
}
.a251{
	float: left;
	width: 219px;
	height: 421px;
	background-color: #fff5f9;
}
.a251 p{
	float: left;
	font-size: 19px;
	font-weight: 800;
	color:#f10148;
	margin-left: 26px;
}
.a251 a{
	float: left;
	text-decoration: none;
	color:#6d6769;
	margin-left: 26px;
	margin-top: -15px;
}
.a2511{
	float: left;
	margin-left: 13px;
	margin-top: 140px;
}
.a252{
	float: right;
	width: 199px;
	height: 210px;
	border-bottom:1px dashed #eeeeee;
}
.a252 p{
	float: left;
	font-size: 19px;
	font-weight: 800;
	color:#f10148;
	margin-left: 26px;
}
.a252 a{
	float: left;
	text-decoration: none;
	color:#6d6769;
	margin-left: -38px;
	margin-top: 47px;
}
.a2521{
	float: left;
	margin-left: -45px;
	margin-top: 80px;
}
.a253{
	float: left;
	width: 200px;
	height: 210px;
}
.a253 p{
	float: left;
	font-size: 19px;
	font-weight: 800;
	color:#f10148;
	margin-left: 26px;
}
.a253 a{
	float: left;
	text-decoration: none;
	color:#6d6769;
	margin-left: -38px;
	margin-top: 46px;
}
.a2531{
	float: left;
	margin-top: 21px;
}
.a26{
	float: left;
	width: 420px;
	height: 421px;
	border: 1px solid #e6e6e6;
	margin-left: 10px;
}
.a27{
	float: left;
	width: 340px;
	height: 421px;
	border: 1px solid #e6e6e6;
	margin-left: 10px;
}
.a271{
	float: left;
	width: 219px;
	height: 209px;
	border-bottom: 1px dashed #eeeeee;
	border-right: 1px solid #eeeeee;
}
.a271 p{
	float: left;
	font-size: 19px;
	font-weight: 800;
	color:#f10148;
	margin-left: 26px;
}
.a271 a{
	float: left;
	text-decoration: none;
	color:#6d6769;
	margin-left: -57px;
	margin-top: 48px;
}
.a2711{
	float: left;
	margin-left: 62px;
	margin-top: 10px;
}
.a272{
	float: left;
	width: 219px;
	height: 211px;
	border-right: 1px solid #eeeeee;
}
.a272 p{
	float: left;
	font-size: 19px;
	font-weight: 800;
	color:#f10148;
	margin-left: 26px;
}
.a272 a{
	float: left;
	text-decoration: none;
	color:#6d6769;
	margin-left: -76px;
	margin-top: 48px;
}
.a2721{
	float: left;
	margin-left: 41px;
	margin-top: 17px;
}
.a273{
	float: left;
	width: 118px;
	height: 59px;
	margin-top: -210px;
	border-bottom: 1px dashed #eeeeee;
}
.a273 img{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
.a274{
	float: left;
	width: 118px;
	height: 59px;
	margin-top: -150px;
	border-bottom: 1px dashed #eeeeee;
}
.a274 img{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.a275{
	float: left;
	width: 118px;
	height: 59px;
	margin-top: -89px;
	border-bottom: 1px dashed #eeeeee;
}
.a275 img{
	float: left;
	margin-left: 40px;
	margin-top: 18px;
}
.a276{
	float: left;
	width: 118px;
	height: 59px;
	margin-top: -28px;
	border-bottom: 1px dashed #eeeeee;
}
.a276 img{
	float: left;
	margin-left: 16px;
	margin-top: 20px;
}
.a277{
	float: left;
	width: 118px;
	height: 59px;
	margin-top: -1px;
	border-bottom: 1px dashed #eeeeee;
}
.a277 img{
	float: left;
	margin-left: 38px;
	margin-top: 18px;
}
.a278{
	float: left;
	width: 118px;
	height: 59px;
	margin-top: -1px;
	border-bottom: 1px dashed #eeeeee;
}
.a278 img{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.a279{
	float: left;
	width: 118px;
	height: 57px;
	margin-top: -1px;
}
.a279 img{
	float: left;
	margin-left: 18px;
	margin-top: 20px;
}
.a28{
	float: left;
	margin-left: 58px;
	margin-top: 16px;
}
.a29{
	float: left;
	width: 1331px;
	height: 426px;
	background: url(../img/a69.gif) repeat-x;
	margin-top: 15px;
}
.a30{
	float: left;
	width: 947px;
	height: 371px;
	margin-left: 58px;
	margin-top: 28px;
}
.a301{
	float: left;
	font-size: 18px;
	margin-top: -3px;
	margin-left: 8px;
}
.a302{
	float: right;
	font-size: 10px;
	margin-right: 5px;
	margin-top: 2px;
	color: #888888;
}
.a303{
	float: right;
	margin-right: 3px;
	margin-top: 3px;
}
.a304{
	float: left;
}
.a304 li{
	float: left;
	margin-left: 9px;
	margin-top: -15px;
}
.a305 span{
	float: left;
	width: 306px;
	height: 158px;
	margin-left: 9px;
	margin-top: -2px;
	background: url(../img/a74.gif) repeat-x;
}
.a3051{
	float: left;
	font-size: 16px;
	color: #000000;
	margin-left: 20px;
}
.a3052{
	float: left;
	margin-top: 0px;
	margin-left: 20px;
	color:#5e5e5e;
}
.a3053{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.a33{
	float: right;
	width: 256px;
	height: 370px;
	margin-right: 63px;
	margin-top: 28px;
}
.a331{
	float: left;
	width: 246px;
	height: 338px;
	background: url(../img/a76.gif) repeat-y;
	margin-top: -10px;
	margin-left: 8px;
}
.a331 ul{
	float: left;
	margin-left: 20px;
	margin-top: 8px;
}
.a331 li{
	margin-top: 5px;
	color:#5e5e5e;
	font-size: 13px;
}
.a332{
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
.a333{
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
.a34{
	float: left;
	width: 1314px;
	height: 565px;
}
.a34 p{
	float: left;
	font-size: 20px;
	margin-left: 65px;
}
.a341{
	float: right;
	margin-right: 65px;
	margin-bottom: 12px;
	margin-top: 27px;
}
.a341 li{
	float: right;
	width: 86px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	color: #5e5e5e;
	cursor: pointer;
}
.a341 li:hover{
	background:#719ef7;
	color: white;
}
.a35{
	float: left;
	width: 208px;
	height: 469px;
	margin-top: 57px;
	margin-left: -110px;
}
.a351{
	float: left;
	width: 208px;
	height: 471px;
	margin-top: 0px;
	background: url(../img/a79.gif) no-repeat;
}
.a352{
	float: left;
	margin-left: 12px;
	margin-top: 287px;	
}
.a352 li{
	float: left;
	color: white;
	font-size:14px ;
	margin-right: 5px;
}
.a352 li:hover{
	text-decoration: underline;
}
.a353{
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}
.a353 li{
	margin-top: 10px;
	color: white;
}
.a353 li:hover{
	text-decoration: underline;
}
.a36{
	float: left;
	width: 991px;
	height: 469px;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #719ef7;
	border-right: 1px solid #eeeeee;
	margin-left: 0px;
	margin-top: -12px;
}
.a361{
	float: left;
}
.a362{
	float: left;
	width: 201px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.a363{
	float: left;
	width: 199px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.a364{
	float: left;
	width: 200px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
}
.a365{
	float: left;
	width: 201px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.a366{
	float: left;
	width: 199px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.a367{
	float: left;
	width: 200px;
	height: 234px;
}
.a37{
	float: left;
	width: 1314px;
	height: 565px;
}
.a37 p{
	float: left;
	font-size: 20px;
	margin-left: 65px;
}
.a371{
	float: right;
	margin-right: 65px;
	margin-bottom: 12px;
	margin-top: 27px;
}
.a371 li{
	float: right;
	width: 86px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	color: #5e5e5e;
	cursor: pointer;
}
.a371 li:hover{
	background:#50bfec;
	color: white;
}
.a38{
	float: left;
	width: 208px;
	height: 469px;
	margin-top: 57px;
	margin-left: -110px;
}
.a381{
	float: left;
	width: 208px;
	height: 471px;
	margin-top: 0px;
	background: url(../img/a87.gif) no-repeat;
}
.a382{
	float: left;
	margin-left: 12px;
	margin-top: 287px;	
}
.a382 li{
	float: left;
	color: white;
	font-size:14px ;
	margin-right: 5px;
}
.a382 li:hover{
	text-decoration: underline;
}
.a383{
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}
.a383 li{
	margin-top: 10px;
	color: white;
}
.a383 li:hover{
	text-decoration: underline;
}
.a39{
	float: left;
	width: 991px;
	height: 469px;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #50bfec;
	border-right: 1px solid #eeeeee;
	margin-left: 0px;
	margin-top: -12px;
}
.a391{
	float: left;
}
.a392{
	float: left;
	width: 201px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.a393{
	float: left;
	width: 199px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.a394{
	float: left;
	width: 200px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
}
.a395{
	float: left;
	width: 201px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.a396{
	float: left;
	width: 199px;
	height: 234px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.a397{
	float: left;
	width: 200px;
	height: 234px;
}
.a40{
	float: left;
	width: 1100px;
	height: 300px;
	margin-top: -210px;
	margin-left: 40px;
}
.a40 a{
	float: left;
	text-decoration: none;
	margin-left: 5px;
	color: #000000;
}
.a40 li{
	float: left;
	margin-left: 20px;	
}
.a45{
	float: left;
	margin-left: 45px;
	margin-top: -260px;
}
.a45 p{
	margin-left: 20px;
	margin-top: 10px;
	color: #999999;
}
.a45 a{
	text-decoration: none;
	color: #999999;
}
.a42{
	border-top: 1px solid #000000;
	width: 980px;
	height: 80px;
	margin-left: 20px;
	margin-top: 0px;
}
.a42 li{
	float: left;
	margin-top: 20px;
	margin-right: 20px;
	color: #999999;
}
.a43{
	float: left;
}
.a44{
	float: left;
	margin-top: -300px;
    margin-left: 60px;
}
